                       [ IRC Message of the Day ]
|------------------------------------------------------------------------|
| Welcome to IRC from ircd                                               |
|------------------------------------------------------------------------|

{{ ircd_motd }}
