serverinfo {
	name = "{{ ansible_fqdn }}";
	description = "ircd-hybrid 7.2-debian";
	network_name = "{{ ircd.network_name }}";
	network_desc = "i am a network short and stout";
	sid = "00A";
};

admin {
	name = "{{ ircd.admin_name }}";
	description = "Main Server Administrator";
	email = "{{ ircd.admin_email }}";
};

listen {
	port = {{ ircd.port }};
};

/* auth {}: allow users to connect to the ircd (OLD I:) */
auth {
	user = "*@127.0.0.1";
	spoof = "i.love.debian.org";
	class = "opers";
};

auth {
	user = "*@*";
	class = "users";
};

operator {
	name = "root";

	user = "root@127.0.0.1";

	password = "ToJx.IEPqjiVg";
	die = yes;
	rehash = yes;
	nick_changes = yes;
	admin = yes;
};

/* shared {}: users that are allowed to remote kline (OLD U:) */
shared {
	name = "hybrid7.debian.local";
	user = "root@localhost";
};

general {
	oper_pass_resv = yes;
        default_floodcount = 10;
	failed_oper_notice = yes;
	dots_in_ident=2;
	min_nonwildcard = 4;
	max_accept = 20;
	anti_nick_flood = yes;
	max_nick_time = 20 seconds;
	max_nick_changes = 5;
        anti_spam_exit_message_time = 0 minutes;
	ts_warn_delta = 30 seconds;
	ts_max_delta = 5 minutes;
	warn_no_nline = yes;
	stats_o_oper_only=yes;
	stats_P_oper_only=no;
	stats_i_oper_only=masked;
	stats_k_oper_only=masked;
	caller_id_wait = 1 minute;
	pace_wait_simple = 1 second;
	pace_wait = 10 seconds;
	short_motd = no;
	ping_cookie = no;
	no_oper_flood = yes;
	true_no_oper_flood = yes;
	max_targets = 4;
	oper_only_umodes = bots, cconn, debug, full, skill, nchange, 
                     rej, spy, external, operwall, locops, unauth;

	oper_umodes = locops, servnotice, operwall, wallop;

};

modules {
	/* module path: paths to search for modules specified below and 
	 * in /modload.
	 */
	path = "/usr/lib/ircd-hybrid/modules";
	path = "/usr/lib/ircd-hybrid/modules/autoload";

	/* module: the name of a module to load on startup/rehash */
	module = "m_tburst.so";
};
