                       [ IRC Message of the Day ]
|------------------------------------------------------------------------|
| Welcome to IRC                                                         |
|                                                                        |
|------------------------------------------------------------------------|

{{ irc_motd }}
